.createdhomework {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.createdhomework th,
.createdhomework td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  max-width: 150px;
}

/* Заголовки таблицы 2 */
.createdhomework th {
  background-color: #f5f5f5;
}




